# Development: You can leave these empty to use default values
# Production: You MUST set these values

# API Base URL (no trailing slash)
NEXT_PUBLIC_API_BASE_URL=

# NextAuth Configuration

# local config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=a8edc8128b7cb77e6a55af06c29f96cfe877d74c3dff94b09d4739bcb98b63fa

# remote config
# NEXTAUTH_URL=https://blur-delta.vercel.app
# NEXTAUTH_SECRET=a8edc8128b7cb77e6a55af06c29f96cfe877d74c3dff94b09d4739bcb98b63fa
# NEXT_PUBLIC_API_URL=https://blurapp.onrender.com/api/v1

# API Configuration
# NEXT_PUBLIC_API_URL=https://blur-app-d6db06830033.herokuapp.com/api/v1
NEXT_PUBLIC_API_URL=http://localhost:8888/api/v1
